/MagicBeans/build/
/MagicBeans/nbproject
/Test customerProjectType/CustomerProjectType/nbproject/private/
/Test customerProjectType/CustomerProjectType/build/
/Example Project Type customerProjectType/CustomerProjectType/build
/MagicBeansProject/nbproject/private/
/MagicBeansProject/build/
/modules/HTML5Application/nbproject/private/
/modules/HTML5Application1/nbproject/private/