/MagicBeans/build/
/MagicBeans/nbproject
/Test customerProjectType/CustomerProjectType/nbproject/private/
/Test customerProjectType/CustomerProjectType/build/
/Example Project Type customerProjectType/CustomerProjectType/build
